
body, html{
    height: 100%;
    background: #212425;
}

header{
    display: flex;
    padding: 30px;
    position: relative;
}

@media (max-width: 750px) {
    .header{
        width: 90%;
        padding: 15px;
    }
}

.header{
    overflow: hidden;
    top: 0;
    width: 95%;
    display: flex;
}

.logo{
    max-width: 65px;
    margin-right: auto;
}

.connect{
    width: 180px;
    height: 50px;
    background: #75AADE;
    border-radius: 40px;
    border: #212425;
    color: white;
    font-size: 20px;
    font-family: 'Gafata', sans-serif;
    font-weight: 350;
}
.connect:hover {
    background: white;
    color: #75AADE;
}


@media (min-width: 750px) {
    .home{
        width: 100%;
        display: inline-flex;
    }
}
@media (max-width: 750px) {
    .home{
        width: 90%;
    }
}

.text{
    justify-content: space-between;
    padding: 6% 0 8% 10%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    display: flex
}

.title{
    color: white;
    font-size: 60px;
    font-family: 'Gafata', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.subtitle{
    color: white;
    font-size: 24px;
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    word-wrap: break-word
}

.body{
    padding: 4% 0;
    color: white;
    font-size: 22px;
    font-family: 'Gafata', sans-serif;
    font-weight: 400;
    line-height: 35px;
    word-wrap: break-word
}

.accentBody{
    color: #E1F4FA;
    font-size: 24px
}

.media-buttons{
    width: 105px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 29px;
    display: inline-flex
}

.media{

}


.projects{
    padding: 4.5%;
}

.projectHolder{
    width: 350px;
    height: 350px;
    position: relative
}

.projectHolder .tooltiptext{
    visibility: hidden;
    width: 350px;
    background-color: white;
    color: #212425;
    top: 15%;
    left: 0;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip__content {
    grid-area: tooltip;
    color: #212425;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tooltip__content-title {
    font-weight: normal;
    margin: 0;

    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
}

.tooltip__content-meta {
    font-family: 'Fira Code', monospace;
    font-size: 10px;
    margin: 0;
}

.tooltip__content-desc {
    padding: 2% 10%;
    margin: auto 0 0 0;
    font-family: 'Gafata', sans-serif;
}

.projectHolder:hover .tooltiptext{
    visibility: visible;
}

.projectImg{
    width: 355px;
    height: 350px;
    left: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px black solid;
}

.border{
    width: 350px;
    height: 50px;
    left: -2px;
    top: 0px;
    position: absolute;
    background: #75AADE;
    border: 2px black solid
}

.button1{
    width: 20px;
    height: 20px;
    left: 315px;
    top: 15px;
    position: absolute;
    background: #E1F4FA;
    border-radius: 9999px
}

.button2{
    width: 20px;
    height: 20px;
    left: 280px;
    top: 15px;
    position: absolute;
    background: #E1F4FA;
    border-radius: 9999px
}

@media (min-width: 750px) {
    .footer{
        display: inline-flex;
        margin-left: 85%;
        margin-top: 55px;
        bottom : 0;
    }
}
@media (max-width: 750px) {
    .footer{
        display: inline-flex;
        width: 100%;
    }
}

.githubLink{
    color: #E1F4FA;
    font-size: 35px;
    font-family: 'Libre Barcode 128 Text', monospace;
    text-decoration: none
}

@media (min-width: 750px){
#container{
    width: 50vw;
    mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
li{
    padding: 10px 20px;
    border-radius: 7px;
}

#container[data-animated]{
    overflow: hidden;
}
#container[data-animated] #list{
    width: max-content;
    animation: scroll 20s linear infinite;
}
#container[data-animated] #list:hover {
    animation-play-state: paused;
}

@keyframes scroll{
    to{
        translate: calc(-50% - 5px);
    }
}
}

@media (max-width: 750px){
    ul{
        gap: 10px;
        list-style: none;
    }
    li{
        padding: 20px 20px;
        border-radius: 7px;
    }
}
