.portfolio{
    display: inline-flex;
    background: var(--primary);
    border-radius: 25px;
    width: 100%;
}

.portfolio-view{
    border-radius: 25px;
    width: 90%;
}

.portfolio-sidebar{
    background: var(--primary-light);
    border-radius: 25px;
    display: block;
    width: 180px;
    color: var(--primary-content);
    font-family: PhantomSans, sans-serif;
    padding: 15px 0;
}

input {
    display: none;
    width: 0;
}

.project-button{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 10px;
}
.project-button:hover{
    background: var(--primary-dark);
    color: var(--accent-lighter);
    border-radius: 25px;
}
input[type="radio"]:checked+label{
    background: var(--primary-dark);
    color: var(--accent-lighter);
    border-radius: 25px;
}

.label-text{
    margin: 5px;
    align-self: center;
}

.project{
    display: inline-flex;
    color: var(--primary-content);
    padding: 15px;
}

.project-text{
    width: 50%;
    margin-right: 10px;
    padding: 0 20px;
}

.project-text ul{
    list-style: none;
    display: inline-flex;
    gap: 10px;
    padding-top: 5px;
    padding-left: 0;
    font-family: PhantomSans, serif;
}

.project-text li{
    background: var(--secondary);
    color: var(--secondary-content);
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap
}

.project-graphic{
    width: 50%;
    align-self: center;
}

.graphic{
    display: block;
    width: 100%;
    height: auto;
}

@media (max-width: 700px){
    .portfolio-sidebar {
        width: 80px;
    }

    .label-text{
        display: none;
    }
}