.profile{
    width: 100%;
    margin-bottom: 25px;
}

    .profile-titlecard{
        background: var(--foreground);
        border-radius: 25px;
        display: inline-flex;
        width: 100%;
    }

    .profile-extras{
        margin-top: 25px;
        display: inline-flex;
        width: 100%;
        justify-content: center;
        gap: 2%;
    }

    .titlecard{
        width: 60%;
        padding-top: 50px;
    }

    .profile-graphic{
        width: 45%;
    }

    #hi{
        margin-top: 0;
        margin-bottom: 0;
        font-family: Motterdam, serif;
        font-size: 200%;
    }

    #name{
        font-family: Bricela, serif;
        font-size: 900%;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
    }

    #lastname{
        font-family: Bricela, serif;
        padding: 0;
        margin-top: -50px;
        margin-bottom: 0;
        margin-left: 45%;
        font-size: 800%;
    }

    #headshot{
        width: 100%;
    }

    #profile-tags{
        list-style: none;
        display: inline-flex;
        gap: 10px;
        padding-top: 5px;
        padding-left: 0;
        font-family: PhantomSans, serif;
    }

    #profile-tags .tag{
        background: var(--secondary);
        color: var(--secondary-content);
        padding: 5%;
        border-radius: 20px;
        white-space: nowrap
    }

    .about{
        width: 49%;
        background: var(--foreground);
        border-radius: 25px;
        padding: 10px 30px;
    }

    .education{
        width: 49%;
        background: var(--foreground);
        border-radius: 25px;
        padding: 10px 30px;
    }

    .education-list{
        list-style: none;
        padding-left: 0;
    }


@media (max-width: 800px){
    .profile-titlecard{
        display: block;
    }

    .profile-graphic{
        width: 100%;
    }

    .titlecard{
        width: 100%;
        padding-top: 20px;
    }

    #name{
        font-size: 800%;
    }

    #lastname{
        font-size: 700%;
    }

    .profile-extras{
        display: block;
    }

    .about{
        width: 100%;
    }

    .education{
        width: 100%;
    }
}