body, html{
    height: 100%;
    background: var(--background);
    scroll-behavior: smooth;
    user-select: none;
}

.portfolio-input{
    /*display: none;*/
}

.home{
    height: 100%;
    width: 75%;
    padding-top: 50px;
    margin: auto;
}

h1{
    font-family: Bricela, serif;
    font-size: 300%;
    margin-bottom: -10px;
}

h2{
    font-family: PhantomSans, serif;
    font-weight: bold;
}

h3{
    font-family: PhantomSans, serif;
}

p{
    font-family: PhantomSans, serif;
}