@font-face {
    font-family: 'Bricela';
    src: url("font-faces/Bricela.otf") format("opentype");
}

@font-face {
    font-family: 'Motterdam';
    src: url("font-faces/Motterdam.otf") format("opentype");
}

@font-face {
    font-family: 'PhantomSans';
    src: url("font-faces/PhantomSans.ttf") format("truetype");
}