@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bricela";
  src: url("/fonts/bricela/Bricela.otf");
}

@font-face {
  font-family: "Motterdam";
  src: url("/fonts/bricela/Motterdam.otf");
}


@font-face {
  font-family: "Phantom Sans";
  src: url("/fonts/phantom-sans/TRIAL_PhantomSans0.8-Semibold.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}